*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto';
  /*user-select:none;*/
  outline: none;
}
body{
  max-width: 100%;
  overflow-x: hidden
}

.title{
  font-size: 35px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}
/*-----------Header-----------*/
header{
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  background: #B8A181;
  color: #fff;
}
nav{
  display: flex;
  align-items: center;
  align-content: center;
}
.menu__items li{
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.menu__items a{
  color: #fff;
}
.menu__items a:active{
  color:#000;
}

/*----------BODY------------*/
.main-slider__container{
position: relative
}
.main-slider__text{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}
.main-slider__text p{
  font-size: 40px;
  color: #fff;
  font-weight: 300;

}
.main-slider__text span{
  font-size: 70px;
  display: inline-block;
  padding: 25px 0 5px;
  border-bottom: 2px solid #fff;
}
.masters-room__link{
  color: #B89D7F;
  text-transform: capitalize;
  display: block;
  text-align: center;
}
.main-slider div{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}
.masters-room__items{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.masters-room__item{
  width: 29%;
}
.masters-room__item p{
  color: #B89D7F;
  text-transform: uppercase;
  padding:20px 0 10px;
  font-size: 20px;
}
.masters-room__item a{
  color: #000;
}
.masters-room__item img{
  width: 100%;
}
.testimonial__wrapp{
  padding: 50px 0;
}
.testimonial-slider__item{
  padding-bottom: 50px;
}
.testimonial-slider__text{
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
  line-height: 25px;
}

.masters-room__wrapp{
  padding: 50px 0;
  background: #F5F5F5;
}
.testimonial-slider__name{
  color: #B89D7F;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}
.slick-dots li button:before,.slick-dots li.slick-active button:before{
  color: #B89D7F;
}
.history__wrapp{
  width: 100%;
  background-image: url('../img/5_6AvEgsa.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat:no-repeat;
  padding: 70px 0;
  position: relative
}
.history__wrapp:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1;
}
.history__container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.history__elements{
  width: 45%;
  display: inline-block;

}
.history__elements:last-child .history-elements__img{
  background: url('../img/1_RQfaYTS.jpg');
}
.history__elements p{
  font-weight: 300;
  text-align: justify;

}
.history-elements__img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url('../img/2_BymTpk7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  float: left;
  margin-right:20px;
  margin-bottom:20px;
}
/*--------Footer---------*/
footer{
  background: #E2E2E2;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__social img{
  width: 27px;
  height: auto;
  margin: 5px 15px;
}

/*-----------------Contact page-------------------*/
.main_contact{
  margin-top: 80px;
}
.main_contact .history__wrapp:before{
      background: rgba(0, 0, 0, 0.4);
}
.title_contact{
  text-align: center;
  font-size: 70px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.contact__item{
  width: 47%;
  margin-bottom: 50px;
}
.contact__item form{
  width: 100%;
}
.contact__item input,textarea{
  border: none;
  border-bottom: 1px solid #B8A181;
  width: 100%;
  max-width: 300px;
  padding: 7px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
  display: block;
  resize: none;
}
.contact__item button{
  background: #B8A181;
  color: #fff;
  padding: 9px 28px;
  font-size: 18px;
  border: 1px solid #B8A181;
  cursor: pointer;
}
.contact__item button:hover{
  color: #B8A181;
  background: #fff;
}
.main_contact{
  padding-bottom: 52px;
}
.gallery__item{
  width: 30%;
  height: 300px;
  background: url('../img/2_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}
.gallery__item:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.masters-room__items.gallery__items{
  flex-wrap: wrap;
  max-width: 1250px;
}

.pop-up__wrapp{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  min-width: 100%;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#pop-up__close{
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,0.75);
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#pop-up__close:after{
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/icons/close.svg');
  display: block;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.gallery_pagination{
  padding: 25px 0;
  text-align: center;
  
}
.gallery_pagination a{
  color: #000;
}
.gallery_pagination a:hover{
  border-bottom: 1px solid #000;
}

.masters-room__items.rooms_items{
  flex-wrap: wrap;
  min-height: 100vh;
}
.filter_rooms{
  position: fixed;
  top: 50%;
  left: 0;
}
.rooms_item{
  margin: 25px;
}
.rooms_item:hover .rooms-item__img{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.room_name{
  padding: 10px 0;
  font-size: 20px;
}
.room_price{
  font-size: 18px;
}
.room_price span{
  font-size: 22px;
  color: #B8A181;
  display: inline-block;
  padding-left: 10px
}
.room_bttn{
  display: inline-block;
  padding: 10px 20px;
  background: #B8A181;
  border: 1px solid #B8A181;
  color: #fff;
  margin: 20px 0;
  cursor: pointer;
}
.room_bttn:hover{
  color: #B8A181;
  background: #fff;
}
.rooms-item__img{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.show_room{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: #fff;
  z-index: 11;
}
.show_room-main_img{
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.show_room_imgs{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.show_room_imgs li{
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/standart/zolota-korona-truskavets-semi-singlebed-03.jpg');
  border: 3px solid #fff;
  margin: 10px;
}
#map{
    width: 100%;
    height: 350px;
}
@media screen and (max-width: 900px) {
  .history__elements{
    width: 90%;
    margin-bottom: 10px;
  }
  .history__container{
    flex-wrap: wrap;
  }
  .title {
    font-size: 25px;
  }
  .masters-room__item{
    width: 90%;
    margin-bottom: 25px;
  }
  .masters-room__items{
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact__item{
    width: 90%;
  }
  .gallery__item{
    width: 50%;
  }
}
